{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
{% endblock %}
{% block content %}
{{ super() }}
<div id = "logo">
  <img id = "logo_image" src="static/yelp_logo.png" alt="yelp_logo" id = "logo" class = "center">
</div>
<div class="input-group mb-3" id = "file_upload">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
  </div>
</div>
<div id = "instruction" class = "below_logo">
  <p>This is instruction.</p>
</div>
<p id = "image_ref">
  Background picture: ‘Tis the season of rhubarb. And strawberry. And blood orange. Praise be. Amen.
</p>
{% endblock %}
